.login-to-the-chat {
    width: 320px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFF8E1;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input-login {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    background-color: #FFFFFF;
    border: 1px solid #4A4A4A;
    border-radius: 10px;
    font-size: 1rem;
    color: #333333;
    transition: border-color 0.3s ease;
}

.input-login::placeholder {
    color: #4A4A4A;
    text-align: left;
}

.input-login:focus {
    outline: none;
    border-color: #FFC107;
}

.button-login {
    width: 100px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #333333;
    color: #FFE082;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-login:hover {
    background-color: #FFC107;
    color: #333333;
}